body {
  font-family: 'roboto', sans-serif;
  min-width: 320;
  max-width: 1920;
  margin-left: auto;
  margin-right: auto;
  -webkit-text-size-adjust: 100%;
  
}

@font-face {
  src: url('../fonts/Roboto-Regular.ttf');
  format: ('truetype');
  font-weight: 400;

}

@font-face {
  src: url('../fonts/Roboto-Bold.ttf');
  format: ('truetype');
  font-weight: 700;

}

@font-face {
  src: url('../fonts/Roboto-Black.ttf');
  format: ('truetype');
  font-weight: 800;

}

@font-face {
  src: url('../fonts/Roboto-Thin.ttf');
  format: ('truetype');
  font-weight: 100;

}

html {
  font-size: 1.46vw;  /*20px при верстке установить: 20/1367=1.46vw */
}

.container {
  max-width: 53rem;
  margin: 0 auto;
  padding: 0.75rem;
  
}

.block01 {
  background: url("../images/bg.jpg") no-repeat top center / cover;
  min-height: 36rem;
  position: relative;
  overflow: hidden;
}

.block01:after {
content: "";
position: absolute;
display: block;

width: 0;
height: 0;
border-top: 6rem solid transparent;
border-right: 100vw solid #fff;
left: 0;
bottom: 0;
}

.block01__navigation {
  float: left;
}

.block01__navigation li {
  display: inline-block;
}
.block01__navigation li+li {
  margin-left: 2.2rem;
}

.block01__navigation a {
  font-size: 0.75rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  transition: 0.3s;
  text-decoration: none;
}

.block01__navigation a:hover {
color: yellow;
}

.block01__welcome_words {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  text-align: center;
  color: #ffffff;
}

.block01__welcome_words h1 {
  font-size: 4rem;
  font-family: Roboto;
  font-weight: 100;
  line-height: 1rem;
  margin: 5rem 0 0.5rem;
}

.block01__welcome_words p {
  font-size: 2.5rem
  font-weight: 300;
}
.block01__city {
  padding: 1.1rem 0 0;
  float: right;
}

.block01__city span {
  color: #ffffff;
  font-weight: 100;
  font-size: 15px;
}
.block01__city a {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 100;
  font-size: 0.75rem;
}

.block01__logoimage {
  width: 9.4rem;
}

.block01__logo {
float: left;
}
.clear {
  clear: both;
}

.inline-block {
  display: inline-block;
}

.block02__inner {
  display: flex;
  margin: 0 0.75rem;

}

.block02__plus {
padding: 0 0.75rem;
display: flex;
flex-direction: column;
align-items: center;
flex: 0 0 33.33%;

}

.block02__head {
  font-size: 1.75rem;
  font-weight: 800;
  margin-bottom: 0.75rem;
  text-align: center;
  flex: 1;
 
}

.block02__text {
  font-weight: 100;
  font-size: 0.7rem;
  text-align: center;
}

.block02__img {
  margin-bottom: 0.75rem;
  height: 10.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block02__img img{
  display: block;
}

.block02__welcome {
  position: absolute;
  right: 2.5rem;
  top: 25rem;
  width: 25rem;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0px  rgba(35, 31, 32, 0.65);
  padding: 2rem 1.5rem;
  z-index: 2;
}


.block04 {
  background: url("../images/bg_2.jpg") no-repeat top center / cover;
  min-height: 36rem;
  position: relative;
  overflow: hidden;
}

.block04__relative_section {
  position: relative;
}

.block04:before {
  content: "";
  position: absolute;
  display: block;
  
  width: 0;
  height: 0;
  border-bottom: 6rem solid transparent;
  border-left: 100vw  solid #fff;
  left: 0;
  bottom: 0;
  top: 0;
  }
.block04:after {
  content: "";
  position: absolute;
  display: block;
  
  width: 0;
  height: 0;
  border-top: 6rem solid transparent;
  border-right: 100vw solid #fff;
  left: 0;
  bottom: 0;
  }
  
  .block04__text {
    color: white;
    text-align: right;
    font-weight: 100;
    font-size: 0.7rem;
    padding-left: 12.5rem;
    padding-bottom: 1rem;
  }

  .block04__img {
    position: absolute;
    border-radius: 100%;
    box-shadow: 0.5rem 0.9rem 0.6rem 0px rgba(35, 31, 32, 0.55);
    left: 8.5rem;
    top: -3.5rem;
    z-index: 1;
    }
    
  

  .block04 h2 {
    color: white;
    text-align: right;
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 3.5rem;
  }

.block05__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.3rem;
}
.block05__movie1 {
  flex: 0 0 33%;
  padding: 1.3rem;
  position: relative;
    box-sizing: border-box;

}


.block05__bg img {
display: block;
width: 100%;
}

.container_block05 {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-bottom: 5rem;
}

.block05__descr {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(144, 210, 61, 0.7);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.75rem;
  transition: 0.8s;
  transform: translateY(100%);
  
}



.block05__rel:hover .block05__descr {
  transform: translateY(0);
}

.block05__rel {
  overflow: hidden;
  position: relative;
}

.block05__text2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #ffffff;
  }

  .block05__text3 {
    flex: 1;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  color: #ffffff;
  }

  .block05__sep {
    height: 0.3rem;
    background: #fff ;
    width:  4.25rem;
    margin-bottom: 0.5rem;
  }


.block05 a {
  color: white;
  text-decoration: none
}

.block05__descr__inner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
    height: 100%;

}

.block05__links {
  margin-top: auto;
}
.block05__links a {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: white;
  color: rgb(144, 210, 61, 0.7);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 1.5rem;
}

.movie-list__header {
  color: #252525;
  font-size: 2.5rem;
  text-align: left;
  font-weight: 700;
  margin: 3.75rem;
}

.movie-list__table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.75rem;
  overflow: hidden;
}

.radius {
  border-radius: 0.75rem;
}

.movie-list__table th {
  color: #ffffff;
  background-color: #a3cc40;
  font-size: 1.5rem;
  font-weight: 800;
  height: 3.75rem;
  text-align: left;
}

.movie-list__table tbody tr:nth-child(3n+1) {
  color: #ffffff;
  background: #373737;
  font-size: 1.1rem;
  font-weight: 400;
  height: 3.75rem;
}

.movie-list__table tbody tr:nth-child(3n+2) {
  color: #ffffff;
  background: #4b4d4f;
  font-size: 1.1rem;
  font-weight: 400;
  height: 3.75rem;
}

.movie-list__table tbody tr:nth-child(3n) {
  color: #ffffff;
  background: #6c6c6c;
  font-size: 1.1rem;
  font-weight: 400;
  height: 3.75rem;
}

.movie-list__table td:first-child {
  text-align: center;
  width: 11.5rem;
}

.movie-list__table th:first-child {
  text-align: center;
  width: 11.5rem;
}

.movie-list__table td:nth-child(2) {
  text-align: left;
  width: 33.5rem;
  padding-left: 3.5rem;
}

.movie-list__table th:nth-child(2) {
  text-align: left;
  width: 33.5rem;
  padding-left: 3.5rem;
}

.movie-list__table th:last-child {
  text-align: center;
  width: 6.5rem;
}

.movie-list__table td:last-child {
  text-align: center;
  width: 6.5rem;
}

.movie-list {
  padding-bottom: 7.5rem;
}

.icon {
  display: inline-block
}

.remark {


  font-size: 0.7rem;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  color: #b0b0b0;
}

.arrow_up {
  width: 0px;
  height: 0px;
  display: inline-block;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.65 solid #ffffff;

}

.arrow_down {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.65rem solid #ffffff;
}

.movie-list__table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.75rem;
}

.movie-list__table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.75rem;
}

.movie-list__table tfoot td {
  padding: 2rem 5rem 0;

}

.map  {
    display: block;
}

.footer {
  
  display: flex;
  justify-content: center;
  
  
}
.svg {
padding-right: 0.75rem
padding-top: 3rem;
padding-bottom: 1.75rem;
}

.green {
  
  background-color: #90d23d;}

  .endtext {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 0.9rem;
    padding-bottom: 2rem;
  }